body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Google Fonts에서 추가 가능 */
  background-color: #f3f4f6; /* 약간 밝은 배경색 */
  color: #333333; /* 기본 텍스트 색상 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
